<%
  var to_decode =  function (str){
   return str.replace(/&/g, '&‎').
     replace(/</g, '<‎').  //empty chars
     replace(/"/g, '‎"').
     replace(/'/g, '‎\'');
  };
  var kformat = function (num) {
    return Math.abs(num) > 999 ? Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'k' : Math.sign(num)*Math.abs(num);
  }
  var starnumarray = {null:'<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>','0':'<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>','1':'<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>','2':'<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>','3':'<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingw"></span>&nbsp;<span class="fa fa-star starratingw"></span>','4':'<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingw"></span>','5':'<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingy"></span>&nbsp;<span class="fa fa-star starratingy"></span>'};
%>
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="https://feedforward.ml/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://feedforward.ml/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://feedforward.ml/images/fav/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://feedforward.ml/images/fav/favicon-16x16.png">
    <link rel="mask-icon" href="https://feedforward.ml/images/fav/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://feedforward.ml/images/fav/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="FeedForward">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="application-name" content="FeedForward">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="https://feedforward.ml/images/fav/mstile-144x144.png">
    <meta name="msapplication-config" content="https://feedforward.ml/images/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Home -The first platform for e-learning with Quiz. The best AI powered quiz Social Network. Lets get started by passing a quiz or create your own one here." />
    <meta name="keywords" content="Social network, Feed Forward, FeedForward, AI powered, Quiz Platform, e-learning, Learning Management System">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="Thibaut Lombard Copyright Lombard Web services">  
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home - FeedForward.ml, the best AI powered Quiz Social Network" />
    <meta property="og:site_name" content="www.feedforward.ml"/>
    <meta property="og:url" content="https://www.feedforward.ml/home" />
    <meta property="og:description" content="Home - The first platform for e-learning with Quiz. The best AI powered quiz Social Network. Lets get started by passing a quiz or create your own one here." />
    <meta property="og:locale" content="fr_FR" />
    <meta property="article:author" content="Lombard Web Sevices" />
    <meta property="og:image" content="https://www.feedforward.ml/images/og.png" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="Home - The first platform for e-learning with Quiz. The best AI powered quiz Social Network. Lets get started by passing a quiz or create your own one here."/>
    <meta name="twitter:title" content="Home - FeedForward.ml, the best AI powered Quiz Social Network"/>
    <meta name="twitter:domain" content="www.feedforward.ml"/>
    <meta name="twitter:image" content="https://www.feedforward.ml/images/tw-og.png"/>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">    
    <title>Home - FeedForward</title>
    <meta name="viewport" content="width=540, initial-scale=0.7, maximum-scale=0.7, minimum-scale=0.7, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css" id="bootstrap-css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/font-awesome.css">
  </head>
  <body class="bodylogin">
    <div class="container-fluid pad4rem">
      <div class="row justify-content-center">
        <div class="pd col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
          <div class="card-results">
            <div class="d-flex justify-content-center" style="margin-top:2rem;margin-bottom:2rem;">
              <div class="searchbar">
                <input class="lang-search search_input" type="text" name="" placeholder="Rechercher..." style="color:white;">
                <a href="#" class="search_icon" style="text-decoration:none;pointer-events: none;"><i class="fa fa-search"></i></a>
              </div>
            </div>
            <form id="home" class="create-quiz" role="form" method="post" action="#">
              <div class="viewresultsstyle"><span class="lang-elementstrouves spanelementtrouves" style="line-height:1.8em;"> ♾
 elements trouvés</span>
              <span class="fa fa-th sv"></span>
                <span class="fa fa-th-large sv"></span>
                <!--<span class="fa fa-th-list sv"></span>-->
              </div>
              <div class="containerresults">

           <% for(var i=0; i<quiz.length; i++){ %>
				  <div class="itemcontainerresults">
                  <a href="q<%= quizid[i] %>" target="_self"><img src="<%= quiz[i][allkeys[i]].imagepresentation; %>" /></a>
                  <span class="containerresultscaptiontopleft" id="pluslike<%= quizid[i]; %>" style="z-index:2;">
                  <span class="fa fa-thumbs-up" style="cursor:pointer;"></span> <span id="likesnum<%= quizid[i]; %>" style="font-color:white;cursor:pointer;"><%= kformat(likecount[i]); %></span> </span>
                  <span class="containerresultscaptiontop" id="notestar<%= quizid[i] %>"> <%- starnumarray[starscount[i]]; %></span>
                <% if((quiz[i][allkeys[i]].description.length > 30) || (quiz[i][allkeys[i]].intitule.length > 30  &&  quiz[i][allkeys[i]].description.length > 30) || (quiz[i][allkeys[i]].intitule.length >30) ){ %> 
                  <div class="containerresultscaption"><%= to_decode(quiz[i][allkeys[i]].intitule).slice(0,20); %>.. : <%= to_decode(quiz[i][allkeys[i]].description).slice(0,20); %>.. </div>
                <% } else { %> 
                  <div class="containerresultscaption"><%= to_decode(quiz[i][allkeys[i]].intitule); %> : <%= to_decode(quiz[i][allkeys[i]].description); %> </div>
                <% }%> 
                </div>
			<% } %>
              </div>
				<div class="show-more"><a style="text-decoration:none;"> <span class="fa angle_down"></span></a>  </div>              
              <!-- Footer -->
              <div class="footer">
                <p>
                  Created with <i class="fa fa-heart"></i> by Lombard Web Services
                </p>
              </div>
              <input type="hidden" name="fingerprint" value="" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/home.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lang.js"></script>
    <script src="js/ripemd160.js"></script>
    <script src="js/fp.min.js"></script>
    <script src="js/notif.js"></script>
  </body>
</html>
